{% extends 'base.html' %} {% block main %}
<section class="content-section container">
    <h2 class="content-header">ABOUT</h2>
    <img class="content-section-img" src="static/img/img.jpg" alt="" />

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequatur iusto in
        atque. Distinctio error laborum maxime, ut corrupti repellendus accusantium quos sit!
        Expedita culpa fuga soluta facilis dolores ratione?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Impedit cumque molestiae voluptate, eius laborum a in porro non
        necessitatibus modi minus, voluptates harum sit aperiam reiciendis illo ipsum nulla?
        Placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem
        dignissimos maxime natus nulla esse quasi, in quas placeat ullam libero explicabo neque,
        recusandae ipsa consequatur eos sequi repellat a.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequatur iusto in
        atque. Distinctio error laborum maxime, ut corrupti repellendus accusantium quos sit!
        Expedita culpa fuga soluta facilis dolores ratione?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Impedit cumque molestiae voluptate, eius laborum a in porro non
        necessitatibus modi minus, voluptates harum sit aperiam reiciendis illo ipsum nulla?
        Placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem
        dignissimos maxime natus nulla esse quasi, in quas placeat ullam libero explicabo neque,
        recusandae ipsa consequatur eos sequi repellat a.
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium distinctio, recusandae
        fugiat modi eum esse explicabo, nobis sit vero iure minus? Blanditiis eligendi itaque
        repudiandae doloribus omnis corrupti voluptate asperiores
    </p>
</section>
{% endblock %}
