{% extends 'base.html' %} {% block main %}

<section class="container content-section">
    <h2 class="content-header">PRODUCTS</h2>
    <div class="item-container">

    </div>
</section>
<!-- <section class="container content-section">
    <h2 class="content-header">HOME APLIENCES</h2>
    <div class="item-container">
        <div class="items">
            <span class="item-title">Soya Bean Oil</span>
            <img class="item-image" src="static/img/soy.jpg" alt="">
            <div class="item-details">
                <span class="item-price">৳ 120</span>
                <button class="btn btn-primary item-btn">ADD TO CART</button>
            </div>
        </div>
        <div class="items">
            <span class="item-title">Ganja</span>
            <img class="item-image" src="static/img/soy.jpg" alt="">
            <div class="item-details">
                <span class="item-price">৳ 60</span>
                <button class="btn btn-primary item-btn">ADD TO CART</button>
            </div>
        </div>
    </div>
</section> -->

<section class="container content-section">
    <h2 class="content-header">CART</h2>
    <div class="cart-row">
        <span class="cart-column cart-header cart-item">ITEMs</span>
        <span class="cart-column cart-price cart-header">PRICE</span>
        <span class="cart-column cart-header cart-quantity">QUANTITY</span>
    </div>

    <div class="cart-items-container">

    </div>
    <div class="cart-total">
        <span class="cart-total-title">Total</span>
        <span class="cart-total-price">৳0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

{% endblock %}