{% extends 'base.html' %} {% block main %}

<section class="container content-section">
    <h2 class="content-header">PRODUCTS</h2>
    <div class="item-container"></div>
</section>

<section class="container content-section">
    <h2 class="content-header">CART</h2>
    <div class="cart-row">
        <span class="cart-column cart-header cart-item">ITEMs</span>
        <span class="cart-column cart-price cart-header">PRICE</span>
        <span class="cart-column cart-header cart-quantity">QUANTITY</span>
    </div>

    <div class="cart-items-container"></div>
    <div class="cart-total">
        <span class="cart-total-title">Total</span>
        <span class="cart-total-price">৳0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

{% endblock %}
